In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics

In [4]:
#read in the csv files 
city_df = pd.read_csv("Resources/city_data.csv")
print(city_df.head())
ride_df = pd.read_csv("Resources/ride_data.csv")
ride_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [7]:
#check null values and types
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [8]:
#unique city types
city_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [22]:
#how many of each city type are present
Urban_count= sum(city_df["type"]== "Urban")
Rural_count= sum(city_df["type"]=="Rural")
Suburban_count =sum(city_df["type"]=="Suburban")
print(f"Urban Count: {Urban_count}")
print(f"Rural Count: {Rural_count}")
print(f"Suburban Count: {Suburban_count}")

Urban Count: 66
Rural Count: 18
Suburban Count: 36

In [23]:
ride_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     2375 non-null   object
 1   date     2375 non-null   object
 2   fare     2375 non-null   float64
 3   ride_id  2375 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [25]:
cityrides_df= pd.merge(ride_df,city_df,how="left",on=["city","city"])
cityrides_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban